html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}


.css-7hspi-MuiBackdrop-root-MuiModal-backdrop {
  position: relative !important;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121214;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A10C28;
  border-radius: 10px;

}
:-webkit-autofill {
  filter:none; /* needed for firefox! */
  box-shadow: 0 0 0 100px rgb(225, 225, 230) inset !important;
}

.css-18ro57k-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  filter:none; /* needed for firefox! */
  box-shadow: 0 0 0 100px rgb(100, 100, 110) inset !important;
}

.rtl-18ro57k-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill{
  box-shadow: 0 0 0 100px rgb(100, 100, 110) inset !important;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.button p {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}
.cssbuttons-io-button {
  color: #BABABA !important ;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: 1px solid #a10c27a8 !important ;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: #A20D29;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;

}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: white;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


:-webkit-autofill {
  filter:none; /* needed for firefox! */
  /* box-shadow: 0 0 0 100px blue inset !important; */
  box-shadow: 0 0 0 100px rgb(150, 150, 160) inset !important;

  /* box-shadow: 0 0 0 100px rgb(130, 130, 150) inset !important; */
}

.css-18ro57k-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  filter:none; /* needed for firefox! */
  /* box-shadow: 0 0 0 100px rgb(42, 42, 49) inset !important; */
  box-shadow: 0 0 0 100px rgb(100, 100, 110) inset !important;

  /* box-shadow: 0 0 0 100px red inset !important; */
}
